
.counter-example {
    height: 100%;
    margin: 2rem;
    margin: 3rem auto;
}

.counter-example h2 {
    font-family: georgia;
    margin: 0 auto;
    color: lightblue;
    font-size: 7rem;
}

.counter-example fieldset {
    border: none;
    margin-top: -3rem;
}

.counter-example button {
    /*margin: 0 8rem;*/
    border: 2px solid lightblue;
    background: transparent;
    color: lightblue;
    width: 4rem;
    height: 4rem;
}

.counter-example button:first-child {
    margin-right: 8rem;
}

.counter-example button:last-child {
    margin-left: 8rem;
}

