
.counter-example {
    height: 100%;
    margin: 2em;
    margin: 3em auto;
}

.counter-example h2 {
    font-family: georgia;
    margin: 0 auto;
    color: lightblue;
    font-size: 3em;
}

.counter-example fieldset {
    border: none;
    margin-top: -2em;
}

.counter-example button {
    /*margin: 0 8rem;*/
    border: 2px solid lightblue;
    background: transparent;
    color: lightblue;
    font-size: 1em;
    width: 2em;
    height: 2em;
}

.counter-example button:first-child {
    margin-right: 4em;
}

.counter-example button:last-child {
    margin-left: 4em;
}

